<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title><%= title %></title>
	<meta name="description" content="<%= description %>">
	<link rel="stylesheet" href="<%= path %>/src/lib/highlight/tomorrow-night-eighties.css" />
	<link rel="stylesheet" href="<%= path %>/src/css/style.css">
	<link rel="icon" href="<%= path %>/src/img/common/favicon.ico">
</head>

<body>
<header class="l-header m-fixed">
	<div class="l-container">
		<div class="p-header c-flex m-middle">
			<h1 class="e-logo">ロゴ</h1>
			<nav class="u-ml-auto">
				<ul class="c-navigation">
					<li><a href="/component/">コンポーネント</a></li>
					<li>
						<a href="/grid/">グリッド</a>
						<ul class="e-sub">
							<li><a href="">サブメニュー1</a></li>
							<li><a href="">サブメニュー2</a></li>
							<li><a href="">サブメニュー3</a></li>
							<li><a href="">サブメニュー4</a></li>
							<li><a href="">サブメニュー5</a></li>
						</ul>
					</li>
					<li><a href="/layout/">レイアウト</a></li>
					<li><a href="/setting/">セッティング</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
